# Ignore everything
*

# Do not ignore code
!*.c
!*.h
!*.bash
!*/
!src
!tests
!tests/fixtures/test.img.bak
!tests/*.bats
!tests/fixtures/TEST/*
!tests/fixtures/*.txt
!createDummyImage.sh

# Do not ignore the files needed for drone
!.drone.yml

# Do not ignore the files for autoconf and automake
!*Makefile.am
!configure.ac
!AUTHORS

# Do not ignore the files needed for git
!.gitignore

# Do not ignore files with information for this project
!*.md
!LICENSE.txt

# Do not ignore files for docker
!Dockerfile
!.dockerignore

*~
